* {
    margin: 0;
    padding: 0;
}

.Load {
    font-family: Uncut;
    display: flex;
    background-color: #BDFF00;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}